accelerate==0.32.1
bitsandbytes==0.43.1
deepspeed==0.14.4
diffusers==0.29.2
ghapi==1.0.6
huggingface_hub==0.23.5
ipython==8.12.3
jsonlines==4.0.0
latex2sympy2==1.9.1
llm_blender==0.0.2
matplotlib==3.9.2
multiprocess==0.70.16
numpy==2.1.1
openai==1.50.0
packaging==24.1
pandas==2.2.3
parameterized==0.9.0
Pebble==5.0.7
peft==0.11.1
Pillow==10.4.0
PyGithub==2.4.0
pytest==8.2.2
python_dateutil==2.9.0.post0
PyYAML==6.0.1
PyYAML==6.0.2
regex==2024.5.15
Requests==2.32.3
rich==13.8.1
safetensors==0.4.5
scikit_learn==1.5.2
setuptools==70.3.0
slack_sdk==3.33.1
sympy==1.12.1
tabulate==0.9.0
timeout_decorator==0.5.0
torch==2.4.0
torch_npu==2.3.1
torchvision==0.19.0
tqdm==4.66.4
transformers==4.44.0
typing_extensions==4.12.2
tyro==0.8.5
vllm==0.5.4
word2number==1.1
trl==0.15.1
